.filter-list {
    display: flex;
  }
  .filter-list li {
    width: calc(100% / 4);
    text-align: center;
    background: #eee;
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .filter-list li.is-active {
    background: #333;
    color: #fff;
  }
  .filter-item {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-item li {
    border: 2px solid #fff;
    width: calc(100% / 4);
    padding: 40px 20px;
    background: #eee;
    text-align: center;
  }
  .filter-item li[data-item="cat1"] {
    background: #F7D1D1;
  }
  .filter-item li[data-item="cat2"] {
    background: #D1EDF7;
  }
  .filter-item li[data-item="cat3"] {
    background: #D1F7D8;
  }